# Server
PORT=3000
SECRET_SESSION=random-secret
FRONT_URL=https://test.com
BACKEND_URL=https://test.com

# Firestore SDK
SECRET_FIREKEY={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"...","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"..."}

# Kick API
KICK_CLIENT_ID=kick_client_id
KICK_CLIENT_SECRET=kick_client_secret
KICK_BROADCASTER_ID=kick_user_id

# Vercel
VERCEL_DEPLOY_HOOK_URL=https://api.vercel.com/v1/integrations/deploy/prj_xxx/yyy

# Cloudflare R2
CLOUDFLARE_ACCESS_KEY_ID=r2_access_key_id
CLOUDFLARE_SECRET_ACCESS_KEY=secret_access_key
CLOUDFLARE_R2_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
CLOUDFLARE_R2_BUCKET_NAME=test
CLOUDFLARE_R2_PUBLIC_URL=https://test.com
